body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    background-color: rgb(255, 203, 203);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    border: 3px solid pink;

}

.container:hover {
    transform: scale(1.05);
}

.poem-line {
    display: none;
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-style: italic;
}
